/* src/StarryBackground.css */
.stars-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
}

.star {
  position: absolute;
  width: 4px;
  height: 4px;
  filter: blur(1px);
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  animation: animate 60s linear infinite;
}

@keyframes animate {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh); /* Move stars upward */
  }
}
