@import "../../global.scss";

.contact {
  background-color: transparent;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .contactContainer {
    width: 78vw;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      flex-direction: column;
    }

    .img {
      width: 45%;
      @include mobile {
        width: 90vw;
      }

      img {
        width: 100%;
      }
    }
    .form {
      box-sizing: border-box;
      width: 45%;
      max-width: 94vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 2px solid $mainColor;
      border-radius: 0.4rem;
      padding: 1rem;
      font-size: 2rem;
      font-weight: lighter;
      @include mobile {
        width: 77vw;
      }
      h1 {
        font-size: 1.8rem;
        text-align: center;
        text-decoration: underline;
        color: $mainColor;
      }
      input,
      textarea {
        font-size: 1.2rem;
        padding: 0.4rem 0.7rem;
        margin: 1rem 0.4rem;
        border: 1px solid $mainColor;
        border-radius: 0.4rem;
      }

      input[type="submit"] {
        cursor: pointer;
        font-size: 1.5rem;
        // background-color: $mainColor;
        color: $mainColor;
        border: 2px solid $mainColor;
        font-weight: bolder;
        &:hover {
          background-color: $mainColor;
          color: $bgColor;
        }
      }
    }
  }

  .socialLinks {
    .social {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100vw;
      font-size: 3rem;

      .icon {
        color: $mainColor;
        margin: 1rem;
        margin-top: 4rem;

        &:hover {
          opacity: 0.5;
        }
      }
    }

    .contact {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;

      @include mobile {
        flex-direction: column;
        font-size: 1rem;
      }
      .itemContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 3rem;
        a {
          text-decoration: none;
        }

        .icon {
          margin: 0 0.3rem;
        }
      }
    }
    p {
      font-size: 2rem;
      color: $mainColor;
      padding: 2rem;
      text-align: center;

      @include mobile {
        font-size: 0.9rem;
        margin-bottom: 4rem;
      }
    }
  }
}
