@import "../../global.scss";

.intro {
  display: flex;
  height: 100vh;
  width: 100vw;

  .mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    @include mobile {
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 2rem;
    }

    .imgContainer {
      width: 50vw;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      float: right;

      @include mobile {
        width: 47vw;
      }
      img {
        max-width: 70%;
        opacity: 1;
        border-radius: 50%;
        border: 2px solid $mainColor;
        background-color: rgba(4, 199, 134, 0.596);
      }
    }

    .details {
      width: 50vw;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      color: $mainColor;
      @include mobile {
        margin-top: 50px;
        width: 100vw;
        padding-left: 0;
        align-items: center;
      }
      h1 {
        font-size: 60px;
        margin: 10px 0;
        @include mobile {
          font-size: 20px;
        }
      }

      h2 {
        font-size: 35px;
        @include mobile {
          font-size: 15px;
        }
      }
      h3 {
        font-size: 30px;
        font-weight: 700;
        @include mobile {
          font-size: 18px;
        }

        span {
          font-size: inherit;
        }

        .ityped-cursor {
          animation: blink 1s infinite;
        }

        @keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }

      .contactDetails {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        @include mobile {
          align-items: center;
        }
        .social {
          display: flex;
          align-items: center;
          justify-content: center;
          .icon {
            margin: 0.2rem 0.3rem;
            margin-top: 2rem;
            font-size: 1.2rem;
            &:hover {
              opacity: 0.5;
            }
          }
        }

        .contact {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          font-size: 0.8rem;
          @include mobile {
            flex-direction: column;
            font-size: 0.8rem;
          }

          // font-weight: 600;
          .itemContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            a {
              text-decoration: none;
              margin-right: 0.5rem;
            }
            .icon {
              margin: 0 0.3rem;
            }
          }
        }
      }

      .next {
        position: absolute;
        top: 80vh;
        right: 15vw;
        font-size: 3rem;
        animation: arrowBlink 2s infinite;
      }

      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
