
$mainColor: rgb(0, 0, 0);
$bgColor: #fcf6f4;
$singelItemBgc : #fcf6f4;

// $mainColor: #fcf6f4;
// $bgColor:  rgb(0, 0, 0);

$width: 768px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}
